#username {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding: 0.25em 0;
    margin: 0;
}

#pfp {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
