#home-page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 15px;
    min-height: calc(100vh - 30px);
}

.icon {
    filter: invert();
    height: 100%;
    max-width: 45px;
    max-height: 45px;
}

header, footer {
    display: grid;
    grid-template-columns: 45px 1fr 45px;
    align-items: center;
    gap: 15px;
}

#title {
    grid-column: 2;
    margin: 0;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;

    @media screen and (max-width: 600px) {
        font-size: 2rem;
    }
}

#connect, #settings {
    grid-column: 3;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

app-game-choice {
    width: 100%;
    max-width: 400px;
}

#popup-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-content: center;

    background: #0007;
    backdrop-filter: blur(1px);
}

#popup {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    max-height: 600px;
    width: 100%;
}

[aria-hidden="true"] {
    visibility: hidden;
}

input {
    width: calc(100% - 1.5em);
    background: rgb(60, 60, 60);
    border: none;
    border-radius: 10px;
}

h2 {
    font-size: 3em;
    margin: 0;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group label {
    height: 1.5rem;
    padding: .50rem;
}

.form-label-group label {
    position: absolute;
    top: 0;
    left: 2px;
    transition: all .1s ease-in-out;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 0.75rem;
    padding-bottom: .25rem;
}


.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}
