<div id="home-page">
    <header>
        <h1 id="title">Tron: The Successor</h1>
        <app-profil-display id="profil-display"></app-profil-display>
    </header>
    <main>
        <app-game-choice></app-game-choice>
    </main>
    <div id="popup-container">
        <app-sign-up-popup class="popup" id="sign-up"></app-sign-up-popup>
        <app-sign-in-popup class="popup" id="sign-in"></app-sign-in-popup>
        <app-forget-password-popup class="popup" id="forget-password"></app-forget-password-popup>
        <app-popup background="#2F1C41" class="popup" id="disconnect">
            <h2 slot="title">Disconnect</h2>
            <p slot="body">Are you sure you want to disconnect ?</p>
            <app-button id="disconnect-button" slot="actions">Disconnect</app-button>
            <app-button id="cancel-button" slot="actions">Cancel</app-button>
        </app-popup>
    </div>
</div>
