<div id="home-page">
    <header>
        <h1 id="title">Tron: The Successor</h1>
        <app-profile-display id="profile-display"></app-profile-display>
    </header>
    <main>
        <app-game-choice></app-game-choice>
    </main>
    <aside>
        <app-chat-drawer></app-chat-drawer>
    </aside>
    <div id="online-players-counter">
        <span id="counter-label">Players Online:</span>
        <div id="counter-display">
            <span id="player-count">0</span>
            <div id="pulse-ring"></div>
        </div>
    </div>
</div>
