#home-page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 15px;
    min-height: calc(100vh - 30px);
}

.icon {
    filter: invert();
    height: 100%;
    max-width: 45px;
    max-height: 45px;
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 15px;
}

#title {
    grid-column: 2;
    margin: 0;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;

    @media screen and (max-width: 600px) {
        font-size: 2rem;
    }
}

#profil-display, #settings {
    grid-column: 3;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

app-game-choice {
    width: 100%;
    max-width: 400px;
}
