<div class="container">
    <div class="emote">
        <img src="assets/emotes/hmph.png" alt="hmph"/>
        <p>1</p>
    </div>
    <div class="emote">
        <img src="assets/emotes/animethink.png" alt="anime think"/>
        <p>2</p>
    </div>
    <div class="emote">
        <img src="assets/emotes/ohgeez.png" alt="oh geez"/>
        <p>3</p>
    </div>
    <div class="emote">
        <img src="assets/emotes/yawn.png" alt="yawn"/>
        <p>4</p>
    </div>
    <div class="emote">
        <img src="assets/emotes/huh.png" alt="huh"/>
        <p>5</p>
    </div>
</div>
