#game-choice {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 400px;
    border: solid;
    padding: 20px;
    border-radius: 10px;
    background: #191919;
}
