<label for="security-question">
    <slot></slot>
</label>
<select id="security-question">
    <option value="0">What was the name of your favorite teacher in elementary school?</option>
    <option value="1">What was your dream job as a child?</option>
    <option value="2">In what city or town did you meet your spouse/partner?</option>
    <option value="3">What was your favorite vacation spot as a child?</option>
    <option value="4">What is the name of the first book you ever read?</option>
    <option value="5">What was the first concert you ever attended?</option>
    <option value="6">What was the name of your first stuffed animal?</option>
    <option value="7">What was your favorite subject in high school?</option>
    <option value="8">What was the model of your family's first television set?</option>
    <option value="9">What is the name of the street where your best friend lived during childhood?</option>
    <option value="10">What is the first name of the person you went to your first dance with?</option>
    <option value="11">What is the name of the place where you had your first kiss?</option>
    <option value="12">What is the title of your favorite childhood book?</option>
    <option value="13">What is the name of the first beach you visited?</option>
    <option value="14">What was the first movie you saw in a theater?</option>
    <option value="15">What is the name of the first foreign country you visited?</option>
    <option value="16">What was the name of your favorite childhood cartoon character?</option>
</select>
