label[for="security-question"] {
    display: none;
}

#security-question {
    width: calc(100% - 4px);
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    background: rgb(60, 60, 60);
    color: white;
}
