:host {
    display: inline-flex;
    min-height: 100px;
    justify-content: center;
}

svg {
    text-align: center;

    text {
        font-size: 0.425rem;
        font-weight: bold;
        fill: white;
        text-anchor: middle;

        .label {
            font-size: 0.3em;
        }
    }
}
