:host {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    position: absolute;
    bottom: -2.5%;
    right: -2.5%;
    box-sizing: content-box;
    border: 2px solid #36393f;
    background-color: #747f8d;
}

:host(.hidden) {
    display: none;
}

:host(.connected) {
    border: 2px solid #36393f;
    background-color: #3ba55d;
}
