<div id="profile-page">
    <div id="not-found-message">The user&nbsp;<span id="not-found-user"></span>&nbsp;does not exist or has deleted their
        account.
    </div>
    <div id="profile-header">
        <h1>Profile</h1>
        <h3 id="username">Username</h3>
        <div class="filler"></div>
        <app-button id="home-page">
            <img alt="Home" src="/assets/home.svg" title="Home"/>
        </app-button>
    </div>
    <app-tab-navigation id="tab-navigation" readonly="true">
        <app-profile-overview data-tab-title="Overview" id="overview"></app-profile-overview>
        <app-profile-history data-tab-title="History" id="history"></app-profile-history>
        <app-profile-leaderboard data-tab-title="Leaderboard" id="leaderboard"></app-profile-leaderboard>
        <div data-tab-title="Rank distribution" id="ranking-container">
            <app-rank-repartition id="ranking"></app-rank-repartition>
        </div>
    </app-tab-navigation>
</div>
