#profile-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #191919;

    #tab-navigation {
        min-height: 0;
    }

    #not-found-message {
        display: none;
    }

    &.not-found > * {
        display: none;

        &#not-found-message {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-size: 3em;
            color: #ff00ff;
            text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 40px #ff00ff, 0 0 80px #ff00ff;
        }
    }
}

#profile-header {
    display: flex;
    gap: 10px;
    align-items: baseline;
    padding: 20px;

    h1, h3 {
        margin: 0;
    }

    #username {
        color: lightgray;
    }

    .filler {
        flex-grow: 1;
    }

    #home-page img {
        width: 35px;
    }
}

#history {
    overflow: auto;
    padding-top: 20px;
}
