<div id="profile-page">
    <div id="not-found-message">The user&nbsp;<span id="not-found-user"></span>&nbsp;does not exist or has deleted their account.
    </div>
    <div id="profile-header">
        <h1>Profile</h1>
        <h3 id="username">Username</h3>
        <div class="filler"></div>
        <app-button id="home-page">
            <img src="/assets/home.svg" alt="Home" title="Home"/>
        </app-button>
    </div>
    <app-tab-navigation id="tab-navigation" readonly="true">
        <app-profile-overview id="overview" data-tab-title="Overview"></app-profile-overview>
        <app-profile-history id="history" data-tab-title="History"></app-profile-history>
        <app-profile-leaderboard id="leaderboard" data-tab-title="Ranking"></app-profile-leaderboard>
    </app-tab-navigation>
</div>
