#board-container {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    background-color: #1C1A1AFF;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

label {
    visibility: hidden;
}

.controls-container {
    display: flex;
    margin-top: 15px;
    gap: 15px;
}

#play-pause, #next-btn, #previous-btn {
    background-color: #333;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #555;
    }
}

#play-pause img, #next-btn img, #previous-btn img {
    height: 25px;
    filter: invert(0.75);
}

#board-range {
    width: 50%;
    height: 6px;
    appearance: none;
    background: transparent;
    border-radius: 3px;
    cursor: pointer;
}

/* This is the CSS for Chromium based browsers */
#board-range::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #aa94cc 0%, #5c00ac 100%);
    border-radius: 3px;
    height: 6px;
}

#board-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: #000002;
    border-radius: 50%;
    border: 2px solid #661a71;
    margin-top: -3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease;
}

#board-range::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

/* This is the CSS for Firefox */
#board-range::-moz-range-track {
    background: linear-gradient(to right, #aa94cc 0%, #5c00ac 100%);
    border-radius: 3px;
}

#board-range::-moz-range-thumb {
    appearance: none;
    background: #000002;
    border-radius: 50%;
    border: 2px solid rgb(102, 26, 113);
}
