.container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

#tabs-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;

    &.readonly {
        grid-template-columns: 1fr;

        #new-tab-btn, .close-btn {
            display: none;
        }
    }
}

button {
    border: none;
    color: white;
    background: #2c2c2c;
    border-radius: 10px;
    padding: .5em .75em;
    cursor: pointer;
}

#tabs {
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;

    [data-tab-id] {
        display: inline-block;
        width: 150px;
        height: 3em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .close-btn {
            padding: 0;
            background: none;
            float: right;
        }
    }
}

#new-tab-btn {
    aspect-ratio: 1 / 1;
    align-self: center;
}

#panels {
    overflow: hidden;

    :not(slot), ::slotted(*) {
        display: block;
        height: calc(100% - 1em);
        padding: .5em;
    }

    :not(slot):not(.active), ::slotted(:not(.active)) {
        display: none;
    }

    #panel-template {
        display: none;
    }
}

.active {
    background: #1F1F1F;
}
