#rank-container {
    display: flex;
    align-items: center;
    justify-content: center;

    #rank-points {
        margin: 0;
        font-size: 2em;
    }

    #rank-info {
        width: 26px;
        height: 26px;
        filter: invert(1);
        margin-left: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}

svg {
    display: block;
    width: 100%;
    margin: auto;
}

@media (max-height: 480px) and (orientation: landscape) {
    #rank-container {
        #rank-points {
            font-size: 1.7em;
        }

        #rank-info {
            width: 20px;
            height: 20px;
        }
    }
}

@media (max-width: 480px) and (orientation: portrait) {
    svg {
        width: 50%;
    }

    #rank-container {
        #rank-points {
            font-size: 1em;
        }
    }

}
