<div id="popup-container">
    <app-sign-up-popup class="popup" id="sign-up"></app-sign-up-popup>
    <app-sign-in-popup class="popup" id="sign-in"></app-sign-in-popup>
    <app-reset-password-popup class="popup" id="forget-password"></app-reset-password-popup>
    <app-popup background="#2F1C41" class="popup" id="disconnect">
        <h2 slot="title">Disconnect</h2>
        <p slot="body">Are you sure you want to disconnect ?</p>
        <app-button id="disconnect-button" slot="actions" background="cancel_background" pulse="true">Disconnect
        </app-button>
        <app-button id="cancel-button" slot="actions">Cancel</app-button>
    </app-popup>
</div>
