h2 {
    margin: 0;
}

u:hover {
    cursor: pointer;
    color: #6868e4;
}

#link {
    grid-row: 2;
    text-align: center;
}

p {
    text-align: center;
}

.question-part,
.password-part,
#password-reset-popup {
    display: none;
}

.info {
    font-size: 14pt;
    margin: 10px 0 40px;
}
