h2 {
    margin: 0;
}

u:hover {
    cursor: pointer;
    color: #1d1def;
}

#link {
    grid-row: 2;
    text-align: center;
}

p {
    text-align: center;
}

.question-part {
    display: none;
}

.password-part {
    display: none;
}

[aria-hidden="true"] {
    visibility: hidden;
}
