<app-popup background="#2F1C41" id="username-popup">
    <h2 class="sign-in" slot="title">Sign in</h2>
    <div class="username-part" slot="body">
        <p>Provide the username associated with your account.</p>
        <app-input id="username-input" pattern="[A-Za-z0-9#?!@$%^&*]{3,20}">Username</app-input>
    </div>
    <div class="question-part" slot="body">
        <p>Answer the security questions to reset your password.</p>
        <p id="question-0"></p>
        <app-input id="first-answer-input">Answer</app-input>
        <p id="question-1"></p>
        <app-input id="second-answer-input">Answer</app-input>
    </div>
    <div class="password-part" slot="body">
        <app-input id="new-password-input" pattern="[A-Za-z0-9#?!@$%^&*]{6,20}" type="password">New password</app-input>
        <app-input id="confirm-password-input" pattern="[A-Za-z0-9#?!@$%^&*]{6,20}" type="password">Confirm password
        </app-input>
    </div>
    <app-button class="username-part" id="username-button" slot="actions">Send username</app-button>
    <app-button class="question-part" id="question-button" slot="actions">Send answers</app-button>
    <app-button class="password-part" id="password-button" slot="actions">Send password</app-button>
    <u id="link" slot="actions">Go back to the login page</u>
</app-popup>

<app-popup background="#2F1C41" id="password-reset-popup">
    <h2 slot="title">Password reset</h2>
    <p slot="body">Your password has been reset successfully.</p>
    <app-button id="login" onclick="location.reload()" slot="actions">Ok</app-button>
</app-popup>
