<app-popup background="#2F1C41" id="popup">
    <h2 class="sign-up" slot="title">Sign up</h2>
    <div id="popup-body" slot="body">
        <div id="sign-up">
            <app-input id="username-input">Username</app-input>
            <app-input id="password-input">Password</app-input>
            <app-input id="confirm-password-input">Confirm password</app-input>
        </div>
        <div id="password-questions">
            <p>In case you forget your password, you can use the following security questions to reset it.</p>
            <app-security-questions id="first-question">First question</app-security-questions>
            <app-input id="first-question-input">First answer</app-input>
            <app-security-questions id="second-question">Second question</app-security-questions>
            <app-input id="second-question-input">Second answer</app-input>
        </div>
    </div>
    <app-button id="login" slot="actions">Sign up</app-button>
    <span slot="actions">Already have an account ? <u id="link">Sign in</u></span>
</app-popup>
