h2 {
    font-size: 1.5em;
    margin: 0;
}

app-button {
    width: 100%;
    text-align: center;
    grid-row: 2;
}

span {
    grid-row: 3;
    text-align: center;
    font-size: 12pt;
}

.second-page {
    display: none;
}

u:hover {
    cursor: pointer;
    color: #1d1def;
}

select {
    width: calc(100% - 4px);
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    background: rgb(60, 60, 60);
    color: white;
    height: 40px;
}

p {
    font-size: 15pt;
}

.icon {
    filter: invert();
    height: 100%;
    max-width: 30px;
    max-height: 30px;
}
