<app-game-popup id="popup">
    <h2 class="sign-up" slot="title">Sign up</h2>
    <div id="popup-body" slot="body">
        <div id="sign-up">
            <div class="form-label-group">
                <input autofocus class="form-control" id="username" pattern="[a-zA-Z0-9]{3,20}" placeholder="Username"
                       required
                       type="text">
                <label for="username">Username</label>
            </div>
            <div class="form-label-group">
                <input autofocus class="form-control" id="password" pattern="[a-zA-Z0-9]{6,20}" placeholder="password"
                       required
                       type="password">
                <label for="password">Password</label>
            </div>
            <div class="form-label-group">
                <input autofocus class="form-control" id="confirm-password"
                       placeholder="ConfirmPassword" pattern="[a-zA-Z0-9]{6,20}" required type="password">
                <label for="confirm-password">Confirm password</label>
            </div>
        </div>
        <div id="questions-info">
            In case you forget your password, you can use the following security questions to reset it.
        </div>
        <div id="password-questions">
            <app-security-questions id="first-question">First question</app-security-questions>
            <div class="form-label-group">
                <input autofocus class="form-control" id="first-answer" placeholder="Answer" required
                       type="text">
                <label for="first-answer">First answer</label>
            </div>
            <app-security-questions id="second-question">Second question</app-security-questions>
            <div class="form-label-group">
                <input autofocus class="form-control" id="second-answer" placeholder="Answer" required
                       type="text">
                <label for="second-answer">Second answer</label>
            </div>
        </div>
    </div>
    <app-button id="login" slot="actions">Sign up</app-button>
    <span slot="actions">Already have an account ? <a href="#" id="link">Sign in</a></span>
</app-game-popup>