h2 {
    font-size: 1.5em;
    margin: 0;
}


#login {
    width: 100%;
    text-align: center;
}

span {
    font-size: 12px;
    align-content: center;
}

#password-questions {
    display: none;
}

#link:hover {
    cursor: pointer;
}

span {
    grid-row: 2;
}
