<div class="container">
    <template>
        <button>
            <slot></slot>
        </button>
    </template>


    <app-button>
        <div class="button-content">
            <img class="image" src="/assets/spaceship.svg" alt="Spaceship"/>
            <span>Spaceship</span>
        </div>
    </app-button>
    <app-button>
        <div class="button-content">
            <img class="image" src="/assets/spaceship2.svg" alt="Spaceship"/>
            <span>Spaceship 2</span>
        </div>
    </app-button>
    <app-button>
        <div class="button-content">
            <img class="image" src="/assets/spaceship3.svg" alt="Spaceship"/>
            <span>Spaceship 3</span>
        </div>
    </app-button>
</div>
