.container {
    display: grid;
    grid-auto-columns: 200px;
    grid-template-rows: 150px;
    grid-auto-flow: column;
    gap: 10px;
    width: fit-content;
    overflow-y: scroll;
}

.button-content {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    gap: 10px;
    font-size: 1.2em;

    .image {
        height: 100%;

        .custom-primary-color {
            fill: lightblue;
        }

        .custom-secondary-color {
            fill: #cfe0ee;
        }
    }
}
