<div id="container">
    <div id="login-container">
        <div id="login">
            <h1>Login</h1>
            <form>
                <label aria-hidden="true" id="username-label" for="username">
                    username
                </label>
                <input id="username" pattern="[a-zA-Z0-9]{3,20}" placeholder="Username" required type="text">
                <label aria-hidden="true" id="password-label" for="password">
                    password
                </label>
                <input id="password" pattern="[a-zA-Z0-9]{6,20}" placeholder="Password" required type="password">
                <div id="login-buttons">
                    <button id="sign-up">Sign Up</button>
                    <button id="sign-in">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>