<div id="container">
    <img alt="accueil" class="icon" id="accueil" src="/assets/accueil.svg">
    <div id="login-container">
        <div id="login">
            <h1>Login</h1>
            <div id="inputs">
                <label>
                    <input id="username" placeholder="Username" required type="text">
                </label>
                <label>
                    <input id="password" placeholder="Password" required type="password">
                </label>
            </div>
            <div id="login-buttons">
                <button id="sign-up">Sign Up</button>
                <button id="sign-in">Sign In</button>
            </div>
        </div>
    </div>
</div>


