h2 {
    margin: 0;
}

app-button {
    font-size: 15pt;
}

span {
    grid-row: 2;
    text-align: center;
}

.second-page {
    display: none;
}

u:hover {
    cursor: pointer;
    color: #6868e4;
}

select {
    width: calc(100% - 4px);
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    background: rgb(60, 60, 60);
    color: white;
    height: 40px;
}

p {
    font-size: 15pt;
}

.icon {
    filter: invert();
    max-height: 30px;
}

#left-arrow, #right-arrow {
    position: absolute;
    z-index: 3;
    top: calc(50% - 15px);
}

#left-arrow {
    left: -15px;
}

#right-arrow {
    right: -15px;
}

#popup-body {
    position: relative;
}

#password-questions {
    padding: 0 1em;
}

#sign-up {
    padding: 0 0.7em;
}
