#profile-history {
    height: 100%;
    max-width: 800px;
    overflow: auto;

    .game-results-container {
        height: 100%;
    }

    &.full-loaded #loading-spinner {
        display: none;
    }
}

#loading-spinner {
    display: block;
    height: 150px;
}
