<div>
    <h2>Avatar</h2>
    <app-settings-carousel id="avatar-carousel" category="avatars"></app-settings-carousel>
</div>

<div>
    <h2>Spaceship</h2>
    <app-settings-carousel id="spaceship-carousel" category="spaceships"></app-settings-carousel>
</div>

<div>
    <h2>First choice color</h2>
    <app-settings-carousel id="primary-color-carousel" category="firstChoiceColors"></app-settings-carousel>
</div>

<div>
    <h2>Second choice color</h2>
    <app-settings-carousel id="secondary-color-carousel" category="secondChoiceColors"></app-settings-carousel>
</div>
