body {
    background-color: #1F1F1F;
    color: white;

    width: 100vw;
    min-height: 100vh;
    margin: 0;
}

app-game-board, app-help-page {
    display: block;
    height: calc(100dvh - 2em);
    padding: 1em;
}
