.triforce-container {
    width: 100%;
    margin: auto;
    text-align: center;

    text {
        font-size: 8px;
        font-weight: bold;
        fill: white;
        text-anchor: middle;
    }

    .label {
        font-size: 2px;
        font-weight: bold;
        fill: white;
        text-anchor: middle;
    }
}

p {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin: 0;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid white;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
}