.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

svg {
    text-align: center;

    text {
        font-size: 0.425rem;
        font-weight: bold;
        fill: white;
        text-anchor: middle;

        .label {
            font-size: 0.3em;
        }
    }
}

p {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin: 0;
}

@media (max-height: 480px) and (orientation: landscape) {
    svg {
        max-height: calc(100vh - 20em);
    }
}

@media (max-width: 480px) and (orientation: portrait) {
    #stats {
        font-size: 1.5em;
    }
}
