#profile-leaderboard {
    display: grid;
    grid-template-columns: 4fr 6fr;
    gap: 50px;
    padding: 20px;
    height: calc(100% - 40px);
    overflow-y: auto;
}

@media screen and (max-width: 960px) {
    #rank-repartition {
        display: none;
    }

    #profile-leaderboard {
        display: block;
    }
}
