#profile-leaderboard {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 150px minmax(300px, calc(100% - 200px));
    gap: 50px;
    padding: 20px;
    height: calc(100% - 40px);
    overflow-y: auto;
}

#neon-container {
    grid-row: 1 / 3;
}

#rank-repartition {
    grid-row: 1;
}

@media (max-height: 480px) and (max-width: 1025px), (max-height: 1025px) and (max-width: 480px) {
    #rank-repartition {
        display: none;
    }

    #profile-leaderboard {
        display: block;
    }
}
