#profile-leaderboard {
    display: grid;
    grid-template-columns: 4fr 6fr;
    gap: 50px;
    padding: 20px;
    height: calc(100% - 40px);
    overflow-y: auto;
}

@media (max-height: 480px) and (max-width: 1025px), (max-height: 1025px) and (max-width: 480px) {
    #profile-leaderboard {
        display: flex;
    }

    #neon-container {
        margin: auto;
        width: 90%;
    }

    #profile-ranking {
        display: none;
    }
}
