<div class="chat-room">

    <div id="notification-banner" class="friend-request-notification hidden">
        <p id="notification-message"></p>
        <div id="notification-actions" class="hidden">
            <button id="accept-request" class="action-button">✔</button>
            <button id="refuse-request" class="action-button">✘</button>
        </div>
    </div>

    <div id="messages-wrap">
        <div id="messages"></div>
    </div>

    <div id="input-panel">
        <textarea id="message-input" placeholder="Type your message here" aria-label="Message" minlength="2" maxlength="128"></textarea>
        <app-button id="send">
            <img src="/assets/send.svg" alt="Send" class="icon"/>
        </app-button>
    </div>
</div>
