.chat-room {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
}

#messages-wrap {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;

    #messages {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}

#input-panel {
    display: grid;
    grid-template: auto / 1fr 54px;
    gap: 10px;

    #message-input {
        resize: none;
        box-sizing: border-box;
        max-height: 100px;

        background-color: #2c2c2c;
        border: none;
        border-radius: 10px;
        padding: 10px;
        margin: 0;

        color: white;
        font-family: inherit;
        font-size: .9em;

        &:focus {
            outline: 2px solid #7272d6;
        }
    }

    #send {
        aspect-ratio: 1;
    }
}

.icon {
    max-width: 20px;
    vertical-align: middle;
}
