<div class="chat-room">

    <div id="notification" class="friend-request-notification">
        <p id="notification-message"></p>
        <div id="notification-actions">
            <button id="accept-request" class="action-button">✔️</button>
            <button id="refuse-request" class="action-button">❌</button>
        </div>
    </div>

    <div id="messages-wrap">
        <div id="messages"></div>
    </div>

    <div id="input-panel">
        <textarea id="message-input" placeholder="Type your message here" aria-label="Message"
                  oninput="this.style.height = '';this.style.height = this.scrollHeight + 'px'"></textarea>
        <app-button id="send">
            <img src="/assets/send.svg" alt="Send" class="icon"/>
        </app-button>
    </div>
</div>
