#rank-distribution-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    text-align: center;
    color: white;

    #rank-distribution-description {
        padding: 20px;
        margin: 0;
    }

    #rank-repartition {
        display: contents;

        svg {
            height: 100%;
            width: 100%;
            object-fit: contain;

            .bar:hover {
                fill: rgb(191, 64, 191);
            }
        }
    }

    #hover-info:not(.active) {
        visibility: hidden;
    }
}
