button {
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #2c2c2c;
    border: none;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    height: 100%;

    & :hover {
        background-color: #3c3c3c;
    }

    & :disabled {
        pointer-events: none;
    }
}
