<div class="grid">
    <h1>
        How to play
    </h1>
    <main>
        <p>Your ship can move according to the following directions :</p>
        <div id="controls">
            <app-control owner="1"></app-control>
            <app-control owner="2"></app-control>
        </div>
        <p>If you don't change its direction, it will follow its course.</p>
        <p>But be careful, if you touch an already colonized area, you lose.</p>
    </main>
    <footer>Press space to start</footer>
    <link href="/components/help-page/help-page.css" type="text/css" rel="stylesheet">
</div>
