.grid {
    display: grid;
    grid-template-rows: auto 1fr auto;

    padding: 15px;
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);

    font-size: xx-large;

    @media screen and (max-width: 600px) {
        font-size: x-large;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;


    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}

p, h1 {
    font-weight: bold;
}

p {
    text-align: center;
    margin: 0;
}

h1 {
    margin: 0;
}

footer {
    text-align: end;
    align-self: end;
    margin: 0;
}

#rank-popup {
    font-size: 1rem;
}
