<div class="grid">
    <h1>
        How to play
    </h1>
    <main>
        <p>Your ship can move according to the following directions :</p>
        <div id="controls">
            <app-control owner="1"></app-control>
            <app-control owner="2"></app-control>
        </div>
        <p>If you don't change its direction, it will follow its course.</p>
        <p>But be careful, if you touch an already colonized area, you lose.</p>
    </main>
    <footer><span class="desktop">Press space</span><span class="mobile">Tap</span> to start</footer>
    <app-popup class="popup" id="rank-popup" large="true" background="#2F1C41">
        <h2 slot="title">The Rank System</h2>
        <app-rank-explanation class="popup-body" slot="body"></app-rank-explanation>
        <div slot="actions" class="popup-actions">
            <input type="checkbox" id="display-again" name="display-again"/>
            <label for="display-again">Don't show again</label>
        </div>
        <div slot="actions" class="popup-body">
            <app-button id="close">Close</app-button>
        </div>
    </app-popup>
</div>
