.grid {
    display: grid;
    grid-template-rows: auto 1fr auto;

    padding: 15px;
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);

    font-size: xx-large;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    app-control {
        max-width: 400px;
    }
}

p, h1 {
    font-weight: bold;
}

p {
    text-align: center;
    margin: 0;
}

h1 {
    margin: 0;
}

footer {
    text-align: end;
    align-self: end;
    margin: 0;
}

#rank-popup {
    font-size: 1rem;
}

@media (max-height: 480px) or (max-width: 480px) {
    .grid {
        font-size: small;
    }
}

@media screen and (max-aspect-ratio: 1/2) {
    #controls {
        flex-direction: column;
    }
}

.mobile {
    display: none;
}

@media screen and (hover: none) {
    .desktop {
        display: none;
    }

    .mobile {
        display: inline;
    }
}
