.container {
    grid-column: 1;
    grid-row: 3;
    justify-self: start;
    font-size: 1.1em;

    visibility: hidden;
    animation: appearAndDisappear 5s ease-in-out forwards;

    img {
        vertical-align: middle;
        width: 50px;
    }
}

@keyframes appearAndDisappear {
    0% {
        visibility: hidden;
        opacity: 0;
        height: 0; /* We grow the height from 0 so it will slowly push the other emotes */
        transform: scale(0) translateY(200px);
    }
    20%, 80% {
        visibility: visible;
        opacity: 1;
        height: 50px;
        transform: scale(1) translateY(0);
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
