<div class="container">
    <app-game-board id="board"></app-game-board>

    <div id="players">
        <p id="p1">Player 1</p>
        <p id="p2">Player 2</p>
    </div>

    <div id="emote-display-container">
        <div id="emote-display"></div>
    </div>
    <p id="timer">00'50"</p>
    <app-game-emotes id="emote-list"></app-game-emotes>
</div>

<app-popup class="popup" id="pause-menu">
    <h2 id="title" slot="title">Title</h2>

    <div class="popup-body" slot="body">
        <div>
            <p id="time"></p>
            <p id="description"></p>
        </div>
    </div>

    <app-button id="resume" slot="actions">Resume</app-button>
    <app-button id="restart" slot="actions">Rematch</app-button>
    <app-button id="home" slot="actions">Home</app-button>
</app-popup>

<app-popup class="popup" id="waiting-panel">
    <h2 slot="title">Waiting for an opponent</h2>
    <div class="popup-body" slot="body">
        <p>Waiting for an opponent to join the game...</p>
    </div>
</app-popup>
