#top-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    .grid-row {
        display: contents;
    }

    .header {
        .grid-cell {
            font-weight: bold;
            font-size: 1.4em;
        }
    }

    .grid-cell {
        padding: 10px;
        font-size: 1.2em;
    }
}

.player-id {
    cursor: pointer;
}
