<app-game-popup id="popup">
    <h2 class="sign-in" slot="title">Sign up</h2>
    <div id="popup-body" slot="body">
        <div id="sign-in">
            <div class="form-label-group">
                <input autofocus class="form-control" id="inputUsername" placeholder="Username" required
                       type="text">
                <label for="inputUsername">Username</label>
            </div>
            <div class="form-label-group">
                <input autofocus class="form-control" id="inputPassword" placeholder="password" required
                       type="password">
                <label for="inputPassword">Password</label>
            </div>
        </div>
        <div id="sign-in-infos">
            <button class="sign-in-button" id="sign-in-button" slot="actions">Sign in</button>
            <span>Don't have an account ? <a id="link" href="#">Sign up</a></span>
        </div>
    </div>
</app-game-popup>