[aria-hidden="true"] {
    visibility: hidden;
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

#login {
    font-size: 15pt;
}

span {
    grid-row: 2;
    text-align: center;
    font-size: 13pt;
}

u:hover {
    cursor: pointer;
    color: #1d1def;
}
