<app-avatar id="avatar" avatar="luna">
    <app-badge id="status-indicator"></app-badge>
</app-avatar>
<div class="info-container">
    <div>
        <h3 id="username">Username</h3>
        <app-rank id="rank-icon"></app-rank>
    </div>
    <small class="elo">ELO: <span id="elo-value"></span></small>
    <div class="rank-progress-container">
        <div class="range">
            <div class="progress-indicator" id="rank-progress"></div>
        </div>
        <div class="progress-labels">
            <span id="rank-from"></span>
            <span class="progress-label" id="rank-to"></span>
        </div>
    </div>
</div>
