#profile-overview {
    overflow-y: auto;
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;

    .column-1 {
        grid-column: 1;
        gap: 10px;

        .profile-buttons.logged-in #modify-password,
        .profile-buttons.logged-in #share,
        .profile-buttons:not(.logged-in) #add-friend {
            display: none;
        }

        #profile-buttons-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }
}

#profile-overview .column-2 {
    grid-column: 2;
}

#profile-overview .column-3 {
    grid-column: 3;
}

@media (max-width: 600px) {
    #profile-overview {
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
    }

    #profile-overview .column-1 {
        grid-column: auto;
        grid-row: 1;
    }

    #profile-overview .column-2 {
        grid-column: auto;
        grid-row: 2;
    }

    #profile-overview .column-3 {
        grid-column: auto;
        grid-row: 3;
    }
}
