#profile-overview {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;

    .column-1 {
        grid-column: 1;
        gap: 10px;

        .profile-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            app-button.hidden {
                display: none;
            }
        }
    }
}

#profile-overview .column-2 {
    grid-column: 2;
}

#profile-overview .column-3 {
    grid-column: 3;
}
