<div id="profile-overview">
    <div class="column-1">
        <app-profile-pfp id="profile-pfp">
            <p slot="name">Name</p>
            <img src="../../assets/profil.svg" alt="Profile" slot="pfp">
        </app-profile-pfp>
        <div class="profile-buttons">
            <app-button id="modify-password" class="hidden">Modify Password</app-button>
            <app-button id="share" class="hidden">Share Profile</app-button>
            <app-button id="add-friend">Add Friend</app-button>
        </div>
    </div>
    <div class="column-2">
        <app-profile-stats id="profiles-stats"></app-profile-stats>
    </div>
    <div class="column-3">
        <app-profile-rank>
            <div slot="rank-icon"></div>
            <p slot="rank"></p>
        </app-profile-rank>
    </div>
</div>
