<div id="profile-overview">
    <div class="column-1">
        <app-profile-pfp id="profile-pfp"></app-profile-pfp>
        <div class="profile-buttons logged-in" id="profile-buttons-container">
            <app-button id="modify-password">Modify Password</app-button>
            <app-button id="share">Share Profile</app-button>
            <app-button id="add-friend">Add Friend</app-button>
        </div>
    </div>
    <div class="column-2">
        <app-profile-stats id="profiles-stats"></app-profile-stats>
    </div>
    <div class="column-3">
        <app-profile-rank id="profile-rank"></app-profile-rank>
    </div>
</div>
