<div id="profile-overview">
    <div class="column-1">
        <app-profile-pfp>
            <p slot="name">Name</p>
            <img src="../../assets/profil.svg" alt="Profile" slot="pfp">
        </app-profile-pfp>
        <div class="profile-buttons">
            <app-profile-button>Modify Password</app-profile-button>
            <app-profile-button>Share Profile</app-profile-button>
        </div>
    </div>
    <div class="column-2">
        <app-profile-stats></app-profile-stats>
    </div>
    <div class="column-3">
        <app-profile-rank>
            <div slot="rank-icon"></div>
            <p slot="rank">Square II</p>
        </app-profile-rank>
    </div>
</div>