#drawer {
    position: fixed;
    inset: 0 auto 0 100%;
    width: 400px;
    transition: .25s ease-in-out;

    &.show {
        transform: translateX(-100%);
        box-shadow: -3px 0 10px #111;
    }
}

#overlay {
    position: absolute;
    inset: 0;

    &:has(> :not(.show)) {
        display: none;
    }
}

#container {
    display: block;
    padding: 1em;
    height: calc(100% - 2em);
    background: #191919;
}

#drawer-handle {
    width: 25px;
    height: 60px;
    position: absolute;
    margin: calc(49vh - 30px) 0;
    transform: translateX(-100%);

    background: #2c2c2c;
    border: none;
    border-radius: 5px 0 0 5px;
    color: white;
    font-weight: 800;

    user-select: none;
    cursor: pointer;
}
