.game-result {
    display: grid;
    grid-template-columns: 250px 60px auto 130px 100px;
    background-color: #444;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px 20px;
    box-sizing: border-box;
    transition: transform 0.2s ease;
    align-items: center;

    :hover {
        cursor: pointer;
    }
}

.game-result:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.status {
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 20pt;
}

.defeat {
    background-color: #c62828;
}

.victory {
    background-color: #2e7d32;
}

.draw {
    background-color: #fbc02d;
}

p {
    margin: auto;
}

.opponent {
    font-size: 18pt;
    font-weight: bold;
    margin: auto;
}

.game-length {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.game-length-label {
    font-size: 14px;
    color: #aaa;
}

.game-length-value {
    font-size: 16px;
}

.date {
    font-size: 16px;
    color: #aaa;
    text-align: right;
}

.show {
    display: block;
}

app-game-board {
    display: none;
}
