#container {
    display: none;
}

.game-result {
    display: grid;
    grid-template-columns: 250px 60px auto 130px 100px;
    background-color: #444;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#game-result-container {
    margin-bottom: 5px;
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-5px);
        cursor: pointer;
    }
}

.status {
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 20pt;
}

.defeat {
    background-color: #c62828;
}

.victory {
    background-color: #2e7d32;
}

.draw {
    background-color: #fbc02d;
}

p {
    margin: auto;
}

.opponent {
    font-size: 18pt;
    font-weight: bold;
    margin: auto;
}

.game-length {
    display: flex;
    flex-direction: column;
}

.game-length-label {
    font-size: 14px;
    color: #aaa;
}

.date {
    color: #aaa;
}

#board-container {
    display: none;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    background-color: #1C1A1AFF;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    &.show {
        display: flex;
    }
}

label {
    visibility: hidden;
}

.controls-container {
    display: flex;
    margin-top: 15px;
    gap: 15px;
}

#play-pause, #next-btn, #previous-btn {
    background-color: #333;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #555;
    }
}

#play-pause img, #next-btn img, #previous-btn img {
    height: 25px;
}

#board-range {
    width: 50%;
    height: 6px;
    appearance: none;
    background: transparent;
    border-radius: 3px;
    cursor: pointer;
}

#chevron {
    filter: invert();
    height: 35px;
    cursor: pointer;

    &.rotate {
        transform: rotate(180deg);
    }
}

/* This is the CSS for Chromium based browsers */
#board-range::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #9578c1 0%, #7029ac 100%);
    border-radius: 3px;
}

#board-range::-webkit-slider-thumb {
    background: #fff;
    border-radius: 50%;
    border: 3px solid #000002;
}

/* This is the CSS for Firefox */
#board-range::-moz-range-track {
    background: linear-gradient(to right, #aa94cc 0%, #5c00ac 100%);
    border-radius: 3px;
}

#board-range::-moz-range-thumb {
    appearance: none;
    background: #000002;
    border-radius: 50%;
    border: 2px solid rgb(102, 26, 113);
}
