<div id="profil">
    <img alt="disconnect" class="disconnected" id="disconnected" src="/assets/connect.svg">
    <div class="connected">
        <p id="username"></p>
        <img alt="connect" id="connected" src="/assets/profil.svg">
    </div>
    <div id="dropdown-menu">
        <ul>
            <li class="connected" id="profil-menu">Profile</li>
            <li class="connected" id="settings">Settings</li>
            <li class="connected" id="logout">Logout</li>
        </ul>
    </div>
</div>
