img {
    max-height: 45px;
    filter: invert();

    &:hover {
        cursor: pointer;
    }
}

#profil {
    position: relative;
}

#dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #2c2525;
    border: 1px solid #2c2525;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #bc13fe;
    border-radius: 8px;

    li {
        padding: 10px;
        color: white;
        border-radius: 4px;

        &:hover {
            background-color: #bc13fe;
            cursor: pointer;
        }
    }
}

.connected {
    display: block;
}

.connected-info,
.connected #disconnected {
    display: none;
}

.connected .connected-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
